## ✅ Level 1: Pandas Basics — Series and DataFrames

In [ ]:
# Task 1: Create a Series using a Python list of your 5 favorite numbers.

In [ ]:
import pandas as pd
import numpy as np

fav_nums = pd.Series([7, 3, 42, 10, 19])
fav_nums

In [ ]:
# Task 2: Create a Series from a dictionary mapping names to marks.

In [ ]:
marks_dict = {'Alice': 85, 'Bob': 90, 'Charlie': 78, 'David': 92}
marks_series = pd.Series(marks_dict)
marks_series

In [ ]:
# Task 3: Convert a NumPy array of 10 random integers into a Series.

In [ ]:
random_array = np.random.randint(1, 100, size=10)
series_from_array = pd.Series(random_array)
series_from_array

In [ ]:
# Task 4: Create a DataFrame with 3 columns: Name, Age, and City. Add 5 rows.

In [ ]:
data = {'Name': ['Asha', 'Bala', 'Chirag', 'Divya', 'Eshan'], 'Age': [21, 25, 29, 24, 30], 'City': ['Delhi', 'Mumbai', 'Kolkata', 'Delhi', 'Chennai']}
df = pd.DataFrame(data)
df

In [ ]:
# Task 5: Use .info() and .describe() on your DataFrame.

In [ ]:
df.info()

In [ ]:
df.describe()

In [ ]:
# Task 6: Rename the columns to Full Name, Years, Location.

In [ ]:
df.columns = ['Full Name', 'Years', 'Location']
df